@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0; 
}

body{
    font-family: 'Roboto Slab', serif;
}

.first-section{
    background: #1f2937;
}


.header-logo{
    font-size: 24px;
    color: #f9faf8;
    padding: 20px;
}

.header-link{
    font-size 18px;
    color: #E5E7EB; 
    margin: 30px;
    display: flex;
    padding 0px 100px 0px 0px;

}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
} 

ul{
    display:flex;
    flex-direction: row;
    gap: 20px;
}

.navbar-left,.navbar-right {
    display: flex;
    width:50%;
    justify-content: center;
    align-items: center; 
}

h1{
    font-size:48px;
    font-weight: bolder;
    color:#f9faf8; 
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2em; 
}

.white-rabbit-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    gap: 2em;
}

.content{ 
    padding: 7em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.content-right{
    flex-shrink:0;
}

.content-left,{
    display:flex;
    flex-direction: column;
    gap: 10px;
}


.img{
    margin-bottom: 100px;
}

.p-first{
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.sign-up-first-section{
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 40px;
    border:1px #3882F6;
    border-radius: 10px;
}

h2{
    font-size:36px;
    font-weight: bolder;
    color: #1f2937; 
    text-align: center;
}

.row-of-blue-divs{
    display:flex;
    flex-direction: row;
    margin: 50px;
    justify-content: space-between;
    flex-shrink: 1;
}

.box-blue{
    width: 250px;
    height: 250px;
    border: 2px solid #3882F6;
    border-radius: 10px;
    flex-shrink: 1;
}

.second-section{
    display:flex; 
    flex-direction: column; 
    justify-content: center;
    background-color:#ffffff;
    padding: 20px;
}

.p-second{
    text-align: center;
    font-size: 15px;
}

.third-section{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h3{
    font-size: 25px;
    color: #1F2937;
    font-style:italic;
    font-weight:lighter;
    text-align: center;
    margin-top: 100px;
}

.p-third{
    text-align: end;
    font-size: 15px;
    color: #1F2937;
    font-weight: bold;
    font-size: 15px;;
    margin: 15px;
}

#p-div{
    justify-content: end;
    display: flex;
    margin-right: 200px;
    margin-bottom: 100px;
}

.last-section{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 345px;
    border-radius:10px;
}

.call-to-action-card{
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h4{
    font-size:20px;
    color:#ffffff;
}

.p-last-text{
    color:#ffffff; 
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.last-blue-box{ 
    background-color: #3882F6;
    width: 75%;
    height: 40%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    display: flex;
}


.sign-up-last-section{
    border: 2px solid #E5E7EB;
    border-radius: 12px;
    padding 5px 20px; 
    width: 100px;
    height: 40px;
    color:white;
    background-color: #3882F6;
    font-weight: bold;

}

.footer-section{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    font-size: 17px;

}